.text > span {
  text-decoration: line-through;
}
.link {
  text-decoration: none;
}

.site-nav .link {
  text-transform: uppercase;
}

.post-title {
  text-align: center;
}
.align-right {
  text-align: right;
}
.align-justify {
  text-align: justify;
}

.post-text {
  text-indent: 100px;
}

.text {
  font-size: 16px;
  line-height: 1.5;
}

.title {
  color: #ffffff;
  text-shadow: 2px 2px 20px #ff0000, 5px 5px 5px #000000;
}

.title {
  font-style: italic;
}

pre {
  font-family: 'Arial', 'Helvetica', sans-serif;
  color: #2a2a2a;
  font-size: 16px;
}
pre::first-letter {
  font-family: 'Tahoma', serif;
  font-size: 32px;
  color: #f44336;
}

/* .title {
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
} */

/* .post-title {
  letter-spacing: 10px;
}
.post-text {
  letter-spacing: 5px;
} */

/* .table {
  color: green;
} */

/* Применится ко всем абзацам на странице */
/* p {
  font-size: 24px;
} */
/* Применится ко всем ссылкам на странице */
/* .link {
  text-decoration: none;
} */

/* Общие стили для всех типов оповещений */
/* .alert {
  font-size: 24px;
  font-weight: 500;
} */
/* Специфические стили для каждого типа */
/* .success {
  color: green;
}
.warning {
  color: orange;
}
.error {
  color: red;
}

#title {
  font-weight: 500;
  color: orange;
} */

/* ✅ Применится только к ссылкам которые лежат внутри тега с классом social-links */
/* .social-links a {
  color: blue;
  text-decoration: none;
} */

/* ✅ То что нужно */
/* .menu > li {
  border: 1px solid tomato;
}

a[title] {
  color: teal;
} */

/* Непривычное форматирование фигурных скобок это нормально */
/* a[href="https://htmlreference.io"]
{
  color: teal;
}
a[href="https://cssreference.io"]
{
  color: orange;
}
a[href="https://www.youtube.com"]
{
  color: tomato;
}

.link {
  color: teal;
}
.link:hover {
  color: tomato;
} */

/* .social-links .link {
  color: teal;
}
.social-links .link:hover {
  color: tomato;
} */
/* 
.social-links .link {
  color: teal;
} */
/* Два и более селекторов разделяются запятой */
/* .social-links .link:hover,
.social-links .link:focus {
  color: orange;
}

.social-links .link {
  color: teal;
}
.social-links .link:hover,
.social-links .link:focus {
  color: orange;
}
.social-links .link:active {
  color: red;
} */
/* 
.social-links .link {
  color: teal;
}
.social-links .link:hover,
.social-links .link:focus {
  color: orange;
}
.social-links .link:active {
  color: red;
}
.social-links .link:visited {
  color: black;
} */
/* 
.schedule-body > tr:hover {
  background-color: tomato;
  color: white;
}
/* Оформление таблицы */
/* .schedule {
  border-collapse: collapse;
}
.schedule th,
.schedule td {
  padding: 8px;
  border: 1px solid #212121;
}

styles.css :root {
  --brand-color: #3f51b5;
}
.section { */
/* Другие стили */
/* border: 2px solid var(--brand-color);
}
.section-title {
  /* Другие стили */
/* color: var(--brand-color);
}
.section-title::before {
  /* Другие стили */
/* background-color: var(--brand-color);
}

styles.css .alert {
  --alert-text-color: black;
  --alert-accent-color: tomato;
}
.alert-text {
  color: var(--alert-text-color);
  border: 1px solid var(--alert-accent-color);
}
.alert-icon {
  background-color: var(--alert-accent-color);
} */
